{{!--
David A. Clark, Jr.
Student #0004796375
Class WDV339-O
Term C202302
Section	01
Project Portfolio III
--}}

<form
  class="flex flex-row flex-grow-1 h2 justify-center ml1 ml2-m ml3-l relative"
  {{ on "submit" this.submit }}
>
  <div
    class="h2 bg-green br4 shadow-1 w-100 progress-bar absolute o-50"
    style="{{this.searchProgressStyle}}"
  >
  </div>

  <Input
    id="search-terms"
    aria-label="Search Terms"
    @type="text"
    placeholder="Enter an artist, album, or track name, and tap search. &rarr;"
    class="flex-grow-1 pa1 br4 bw0 tc outline-0"
    @value={{this.searchTerms}}
    {{on "input" this.setSearchTerms}}
    style="z-index: +1;"
    disabled={{this.search.pending}}
  />

  <Input
    id="submit"
    aria-label="Submit"
    @type="submit"
    @value="Submit"
    style="margin-left: -0.75em;"
    disabled={{this.searchDisabled}}

    class="\
      flex-grow-0 br4 br--right bw0 pl3 outline-0 \
      {{if this.searchDisabled "" "bg-light-green black-80 hover-bg-black-80 hover-white"}}"
  />
</form>